@import "markedstyle";
@import "icomoon";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #F1F2F1;
}

.page_wrap {
  margin: 30px auto;
  width: 800px;
}

.markedit {
  $controlsHeight: 70px;
  $contentPadding: 50px;
  $border-radius: 5px;

  position: relative;
  height: 1000px;



  &.fullscreen{
    width: 100% !important;
    height: 100% !important;
    position: fixed;
    left: 0;
    top: 0;
      bottom: 0;
      right: 0;
  }

  .markedit__controls {
    width: 100%;
    height: $controlsHeight;
    background: #fff;
    padding: 25px 50px;
    padding-bottom: 0px;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    .markedit__control {
      color: #bbb;
      cursor: pointer;
      margin-right: 15px;
      &:hover {
        color: grey;
      }
    }

    .markedit__divider {
      border-right: 1px solid #bbb;
      margin: 0 20px;
    }
  }

  .markedit__text {
    width: 100%;
    border: none;
    padding: $contentPadding;
    padding-top: 25px;
    outline: none;
    font-size: 14px;
    //font-family: 'Raleway', sans-serif;
    font-family: Menlo, Monaco, Consolas, Lucida Console, dejavu sans mono, monospace;
    resize: none;
    height: 100%;
    overflow: auto;

    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
        /***
    Based on:
    http://stackoverflow.com/questions/13126917/can-i-style-the-resize-grabber-of-textarea
    ***/
    &::-webkit-resizer {
      border: 9px solid rgba(0, 0, 0, .0);
      border-bottom-color: rgba(0, 0, 0, .2);
      border-right-color: rgba(0, 0, 0, .2);
      //outline: 1px solid rgba(0, 0, 0, .2);
      //box-shadow: 0 0 5px 3px rgba(0, 0, 0, .1)
    }
  }

  .markedit__preview {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 70px;
    background: white;
    position: absolute;
    padding: $contentPadding;
    padding-top: $contentPadding - 40;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: $controlsHeight;
    z-index: -1;
    overflow: auto;
      white-space: nowrap;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    &.open {
      z-index: 1;
    }
  }
}
